<template name="lists">
	<div id="lists">
		{{> list name="done" title="Done" active=false list=doneTasks }}
		{{> list name="late" title="Late" active=lateTasks.count list=lateTasks }}
		{{> list name="today" title="Today" active=todayTasks.count list=todayTasks }}
		{{> list name="tomorrow" title="Tomorrow" active=tomorrowTasks.count list=tomorrowTasks }}
		{{> list name="thisweek" title="This Week" active=thisweekTasks.count list=thisweekTasks }}
		{{> list name="nextweek" title="Next Week" active=nextweekTasks.count list=nextweekTasks }}
		{{> list name="thismonth" title="This Month" active=thismonthTasks.count list=thismonthTasks }}
		{{> list name="nextmonth" title="Next Month" active=nextmonthTasks.count list=nextmonthTasks }}
		{{> list name="later" title="Later" active=laterTasks.count list=laterTasks }}
	</div>
</template>

<template name="list">
	<div id="{{name}}" class="list {{#if active}}active{{/if}}">
		<h1><span class="count">{{list.count}}</span> {{title}}</h1>
		<div class="tasks">
			{{#each list}}
				{{> task}}
			{{/each}}
		</div>
	</div>
</template>
