@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
	padding: 0;
	margin: 0;
	font-family: "Varela Round", sans-serif;
	overflow: hidden;
}

header {
	text-align: right;
	padding: 10px;
	height: 30px;

	#login-buttons {
		float: right;
		position: relative;

		.login-text-and-button {
			& > div {
				display: inline-block;
			}

			#login-buttons-image-google {
				display: inline-block;
				position: absolute;
				left: 6px;
				top: 6px;
				width: 16px;
				height: 16px;
				background-image: url("/images/google-logo.png");
			}

			#login-buttons-google {
				cursor: pointer;
				border: 2px solid #333;
				background-color: #006;
				color: #fff;
				border-radius: 5px;
				padding: 3px 5px 3px 25px;

				&:active {
					background-color: #003;
					border-color: #000;
				}
			}

			.login-display-name {
				display: none;
			}

			#login-buttons-logout {
				cursor: pointer;
				font-size: 0;
				width: 19px;
				height: 28px;
				border: 0;
				background-color: transparent;
				background-repeat: no-repeat;
				background-image: url("/images/lock.png");
				position: absolute;
				top: 0;
				right: 0;
			}
		}
	}
}

main {
	height: calc(100vh - 50px);
	width: 100%;
	display: flex;
	justify-content: space-between;
	overflow-x: auto;
}
