body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

header {
	text-align: right;
	padding: 10px;
	height: 30px;

	#login-buttons {
		float: right;
	}

	h1 {
		margin: 0;
		text-align: center;
	}
}

main {
	height: calc(100vh - 50px);
}
