.task {
	position: relative;
	padding: 5px;
	min-height: 1.3em;
	font-family: monospace;

	.name {
		border: 0;
		outline: none;
		padding: 2px 0.5em 2px 2px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}

	.controls {
		display: flex;
		align-items: flex-start;
		position: absolute;
		cursor: pointer;
		top: 6px;
		right: 0;
		overflow: hidden;
		height: 1.3em;

		.hidden-controls {
			display: none;
		}

		button,
		input {
			cursor: pointer;
			opacity: 0;
			transition: opacity 0.2s;
		}

		.ellip {
			flex-shrink: 0;
			text-align: center;
			width: 1em;
			padding-top: 2px;
		}

		.delete {
			background-color: #f00;
			border: 2px solid #300;
			border-radius: 50%;
			width: 1.5em;
			height: 1.5em;
			box-sizing: border-box;
			padding: 0;

			&:active {
				color: #fff;
				background-color: #900;
			}
		}

		.done {
			margin-left: 5px;
			background-color: #0ff;
			border: 2px solid #033;
			border-radius: 3px;
			width: 1.5em;
			height: 1.5em;
			box-sizing: border-box;
			padding: 0;

			&.is-done::after {
				content: "✓";
			}

			&:active {
				color: #fff;
				background-color: #099;
			}
		}

		.move-buttons {
			width: 2em;
			height: 1.3em;

			.move {
				text-align: center;
			}

			button {
				width: 100%;
				display: block;
			}
		}

		.color-buttons {
			width: 2em;
			height: 1.3em;

			.color {
				text-align: center;
				line-height: 1.5em;
			}

			button {
				width: 100%;
				height: 2em;
				display: block;
				border: 1px solid #333;
				border-bottom: 0;

				&:last-child {
					border-bottom: 1px solid #333;
				}

			}
		}

		&:hover {

			z-index: 10;
		}
	}

	// colors
	@mixin task-color($name, $bg, $txt) {
		.color-buttons [data-color="#{$name}"] {
			background-color: $bg;
		}

		&[data-color="#{$name}"] {
			color: $txt;

			&:nth-child(odd),
			&:nth-child(odd) .controls {
				background-color: $bg;
			}

			&:nth-child(even),
			&:nth-child(even) .controls {
				background-color: darken($bg, 5%);
			}

			&:hover,
			&:hover .controls {
				background-color: darken($bg, 10%);
			}

			.name:focus {
				border-top: 1px solid $txt;
				border-bottom: 1px solid $txt;
			}
		}
	}
	@include task-color("", #ccc, #000);
	@include task-color("red", #f00, #fff);
	@include task-color("yellow", #ff0, #000);
	@include task-color("lime", #0f0, #000);
	@include task-color("aqua", #0ff, #000);
	@include task-color("blue", #00f, #fff);
	@include task-color("fuchsia", #f0f, #fff);

}

.bulk-edit .task .controls,
.task .controls:hover {
	overflow: visible;

	.hidden-controls {
		display: flex;
		align-items: flex-start;
	}

	.color,
	.move,
	button,
	input {
		opacity: 1;
	}

	.move-buttons {
		button {
			opacity: 0;
		}

		&:hover {
			height: auto;

			button {
				opacity: 1;
			}
		}
	}

	.color-buttons {
		button {
			opacity: 0;
		}

		&:hover {
			height: auto;

			button {
				opacity: 1;
			}
		}
	}
}
