.task {
	position: relative;
	padding: 5px;
	min-height: 1.3em;
	font-family: monospace;

	.name {
		border: 0;
		outline: none;
		padding: 3px 12px 4px 2px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
	}

	.controls {
		display: flex;
		align-items: flex-start;
		position: absolute;
		cursor: pointer;
		top: 7px;
		right: 0;
		height: 20px;

		.ellip {
			color: currentColor;
			cursor: pointer;
			flex-shrink: 0;
			text-align: center;
			width: 16px;
			padding-top: 2px;
			background-color: transparent;
			border: 0;
		}

		.hidden-controls {
			margin-right: 5px;
			display: none;
			height: 20px;
			overflow: visible;

			.delete {
				cursor: pointer;
				background-color: #f00;
				border: 2px solid #300;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				box-sizing: border-box;
				padding: 0;

				&:active {
					color: #fff;
					background-color: #900;
				}
			}

			.done {
				cursor: pointer;
				margin-left: 5px;
				background-color: #0ff;
				border: 2px solid #033;
				border-radius: 3px;
				width: 20px;
				height: 20px;
				box-sizing: border-box;
				padding: 0;

				&:active {
					color: #fff;
					background-color: #099;
				}
			}

			.color-buttons {
				margin-left: 5px;

				.color {
					cursor: pointer;
					text-align: center;
					width: 20px;
					height: 20px;
					padding: 0;
					border: 2px solid #330;
					border-radius: 3px;
					background-image: url("/images/color-button.png");
					background-repeat: no-repeat;
					background-position: center;
				}

				.color-button {
					cursor: pointer;
					width: 20px;
					height: 20px;
					display: none;
					border: 1px solid #fff;
					border-bottom: 0;

					&:last-child {
						border-bottom: 1px solid #fff;
					}

				}
			}

			.move-buttons {
				margin-left: 5px;

				.move {
					cursor: pointer;
					text-align: center;
					width: 20px;
					height: 20px;
					background-color: #ff0;
					border: 2px solid #330;
					border-radius: 3px;
					padding: 0;
				}

				.move-button {
					cursor: pointer;
					width: 20px;
					height: 20px;
					padding: 0;
					display: none;
					background-color: #ff0;
					border: 1px solid #fff;

					&:focus,
					&:hover {
						background-color: darken(#ff0, 10%);
					}
				}
			}
		}
	}

	// colors
	@mixin task-color($name, $bg, $txt) {
		.color-buttons [data-color="#{$name}"] {
			background-color: $bg;

			&:focus,
			&:hover {
				background-color: darken($bg, 10%);
			}
		}

		&[data-color="#{$name}"] {
			color: $txt;

			&:nth-child(odd),
			&:nth-child(odd) .controls {
				background-color: $bg;
			}

			&:nth-child(even),
			&:nth-child(even) .controls {
				background-color: darken($bg, 5%);
			}

			&:hover,
			&:hover .controls {
				background-color: darken($bg, 10%);
			}

			.name:focus {
				border-top: 1px solid $txt;
				border-bottom: 1px solid $txt;
			}
		}
	}
	@include task-color("", #ccc, #000);
	@include task-color("red", #f00, #fff);
	@include task-color("yellow", #ff0, #000);
	@include task-color("lime", #0f0, #000);
	@include task-color("aqua", #0ff, #000);
	@include task-color("blue", #00f, #fff);
	@include task-color("fuchsia", #f0f, #fff);

}

.bulk-edit .task .controls,
.task .controls.open,
.task .controls:hover {
	border-radius: 10px 0 0 10px;

	.hidden-controls {
		display: flex;

		.color-buttons,
		.move-buttons {
			&.open {
				z-index: 10;

				button {
					display: block;
				}
			}
		}
	}
}
