<template name="task">
	<div class="task" data-color="{{color}}" id="{{_id}}">
		<div class="name" data-name="{{dataName}}"></div>
		<div class="controls">
			<span class="hidden-controls">
				<button class="delete" title="Delete">&times;</button>
				<button class="done" title="Done">&check;</button>
				<span class="color-buttons">
					<button class="color" title="Color"></button>
					<button class="color-button" data-color="red" title="Red"></button>
					<button class="color-button" data-color="yellow" title="Yellow"></button>
					<button class="color-button" data-color="lime" title="Lime"></button>
					<button class="color-button" data-color="aqua" title="Aqua"></button>
					<button class="color-button" data-color="blue" title="Blue"></button>
					<button class="color-button" data-color="fuchsia" title="Fuchsia"></button>
					<button class="color-button" data-color="" title="None"></button>
				</span>
					{{#unless doneAt}}
					<span class="move-buttons">
						<button class="move" title="Move">&harr;</button>
						<button class="move-button" data-list="today" title="Today">T</button>
						<button class="move-button" data-list="tomorrow" title="Tomorrow">T</button>
						<button class="move-button" data-list="thisweek" title="This Week">W</button>
						<button class="move-button" data-list="nextweek" title="Next Week">W</button>
						<button class="move-button" data-list="thismonth" title="This Month">M</button>
						<button class="move-button" data-list="nextmonth" title="Next Month">M</button>
						<button class="move-button" data-list="later" title="Later">L</button>
					</span>
					{{/unless}}
			</span>
			<button class="ellip">&vellip;</button>
		</div>
	</div>
</template>
