<template name="task">
	<div class="task {{color}}" id="{{_id}}">
		<div class="name" data-name="{{dataName}}"></div>
		<div class="controls">
			<span class="ellip">&vellip;</span>
			{{#unless done}}
				<span class="move-buttons">
					<div class="move" title="Move">&harr;</div>
					<button class="move-to" data-list="today" title="Today">T</button>
					<button class="move-to" data-list="tomorrow" title="Tomorrow">T</button>
					<button class="move-to" data-list="thisweek" title="This Week">W</button>
					<button class="move-to" data-list="nextweek" title="Next Week">W</button>
					<button class="move-to" data-list="thismonth" title="This Month">M</button>
					<button class="move-to" data-list="nextmonth" title="Next Month">M</button>
					<button class="move-to" data-list="later" title="Later">L</button>
				</span>
				<span class="color-buttons">
					<div class="color {{color}}" title="Color">C</div>
					<button class="color-to red" data-color="red" title="Red"></button>
					<button class="color-to yellow" data-color="yellow" title="Yellow"></button>
					<button class="color-to lime" data-color="lime" title="Lime"></button>
					<button class="color-to aqua" data-color="aqua" title="Aqua"></button>
					<button class="color-to blue" data-color="blue" title="Blue"></button>
					<button class="color-to fuchsia" data-color="fuchsia" title="Fuchsia"></button>
					<button class="color-to" data-color="" title="None"></button>
				</span>
			{{/unless}}
			<input type="checkbox" class="done" checked="{{done}}" title="Done" />
			<button class="delete" title="Delete">&times;</button>
		</div>
	</div>
</template>
