<template name="task">
	<div class="task" data-id="{{_id}}">
		<div class="name">
			{{name}}
		</div>
		<div class="controls">
			<span class="ellip">&vellip;</span>
			<button class="delete" title="Delete">&times;</button>
			{{#unless done}}
				<span class="move-buttons">
					<div class="move" title="Move">&harr;</div>
					<button class="move-to" data-list="today" title="Today">T</button>
					<button class="move-to" data-list="tomorrow" title="Tomorrow">T</button>
					<button class="move-to" data-list="thisweek" title="This Week">W</button>
					<button class="move-to" data-list="nextweek" title="Next Week">W</button>
					<button class="move-to" data-list="thismonth" title="This Month">M</button>
					<button class="move-to" data-list="nextmonth" title="Next Month">M</button>
					<button class="move-to" data-list="later" title="Later">L</button>
				</span>
			{{/unless}}
			<input type="checkbox" class="done" checked="{{done}}" title="Done" />
		</div>
	</div>
</template>
