<template name="intro">
	<div id="intro">
		<h1 class="title">Project Task List</h1>
		<p>
			Project Task List is a simple task list that organizes your tasks into one of nine vague time lists based on when you want to start them.
			It is best to break your projects into tasks that can be done within one day.
			Your tasks will automatically be moved into other lists as the start date approches.
			You may move your tasks to other lists at any time.
		</p>
		<p>
			You can color code your tasks as well.
		</p>
		<p>
			<b>To start</b> just sign in using your Google account above.
		</p>
		<p>
			This is an open source project by Tony Brix. You can find the source code at <a href="https://github.com/UziTech/tasklists">https://github.com/UziTech/tasklists</a>.
			If you find any bugs you can submit issues at <a href="https://github.com/UziTech/tasklists/issues">https://github.com/UziTech/tasklists/issues</a>.
			I welcome all pull requests and ideas. Have fun :)
		</p>
		<p>
			Below is a description of each list.
		</p>
		<h2 id="lists">Lists:</h2>
		<ul>
			<li>
				<h3>Done</h3>
				<p>
					"Done" is a list of your completed tasks.
				</p>
			</li>
			<li>
				<h3>Late</h3>
				<p>
					"Late" is a list of tasks that you did not get done yet but are past their start date.
				</p>
			</li>
			<li>
				<h3>Today</h3>
				<p>
					"Today" is a list of projects that you want to get done today.
				</p>
			</li>
			<li>
				<h3>Tomorrow</h3>
				<p>
					"Tomorrow" is a list of projects you want to start tomorrow.
				</p>
			</li>
			<li>
				<h3>This Week</h3>
				<p>
					"This week" is a list of projects you want to start the day after tomorrow and before the end of the week.
				</p>
			</li>
			<li>
				<h3>Next Week</h3>
				<p>
					"Next Week" is a list of projects you want to start on Monday next week.
				</p>
			</li>
			<li>
				<h3>This Month</h3>
				<p>
					"This Month" is a list of projects you want to start after next week and before the end of the month.
				</p>
			</li>
			<li>
				<h3>Next Month</h3>
				<p>
					"Next Month" is a list of projects you want to start on the first of next month.
				</p>
			</li>
			<li>
				<h3>Later</h3>
				<p>
					"Later" is a list of tasks that you want to start after next month.
				</p>
			</li>
		</ul>
	</div>
</template>
