<template name="newtask">
	<div class="task new" data-color="{{defaultColor}}">
		<div class="name" data-list="{{list}}"></div>
		<div class="controls">
			<span class="color-buttons">
				<button class="color" title="Default Color"></button>
				<div class="colors">
					<button class="color-button" data-color="red" title="Red"></button>
					<button class="color-button" data-color="yellow" title="Yellow"></button>
					<button class="color-button" data-color="lime" title="Lime"></button>
					<button class="color-button" data-color="aqua" title="Aqua"></button>
					<button class="color-button" data-color="blue" title="Blue"></button>
					<button class="color-button" data-color="fuchsia" title="Fuchsia"></button>
					<button class="color-button" data-color="" title="None"></button>
				</div>
			</span>
		</div>
	</div>
</template>
